---
name: "{{ tp_consolidated_workflow.name }}"

{% if tp_env == "main" %}
on:
  repository_dispatch:
    types: [generate_workflow]

  workflow_dispatch:

jobs:
  display_default_usage:
    name: Display default usage
    runs-on:
      - self-hosted
      - base-runner
    steps:
      - name: Display usage
        shell: bash
        run: |
          echo "================================================================================"
          echo " Usage: Select from the branches drop-down the environment you want to deploy!! "
          echo "================================================================================"
{% else %}
on:
  workflow_dispatch:
    inputs:
      namespace:
        description: "The deployment namespace (alias)"
        required: true
        type: choice
        options:
{% for _namespace in tp_consolidated_workflow.tp_namespaces %}
          - "{{ _namespace }}"
{% endfor %}
      region:
        description: "The deployment region"
        required: true
        type: choice
        options:
{% for _region in tp_consolidated_workflow.tp_regions %}
          - "{{ _region }}"
{% endfor %}
      tp_env:
        description: "The deployment environment"
        required: true
        type: choice
        options:
          - "{{ tp_consolidated_workflow.tp_env }}"
      node_types:
        description: "The deployment node types"
        required: true
        type: choice
        options:
{% for _node_type in tp_consolidated_workflow.tp_node_types %}
          - "{{ _node_type }}"
{% endfor %}
      inventories_branch:
        description: "Override the inventory repository branch"
        required: true
        type: string
        default: "main"
      post-provisioning-nggf:
        description: "Publish Post Provisioning Artifacts?"
        required: true
        type: boolean
        default: true
      ephemeral_inventory:
        description: "Publish Ephemeral Inventory Artifacts?"
        required: true
        type: boolean
        default: true
      pipeline_artifacts:
        description: "Publish Pipeline Artifacts?"
        required: true
        type: boolean
        default: true
      ansible_debug:
        description: "Choose Ansible Debug Level"
        required: true
        default: '-v'
        type: string

jobs:
  dependencies_prep:
    name: Dependencies prep
    runs-on:
      - self-hosted
      - base-runner
    outputs:
      artifact-list: "{% raw %}${{ steps.artifact-list.outputs.artifact-list }}{% endraw %}"
    steps:
      - name: Set Artifacts List
        id: artifact-list
        shell: bash
        run: |
          _artifacts=()
          if [ "{% raw %}${{ inputs.post-provisioning-nggf }}{% endraw %}" == "true" ]; then
            _artifacts+=("post_provisioning_nggf")
          fi
          if [ "{% raw %}${{ inputs.ephemeral_inventory }}{% endraw %}" == "true" ]; then
            _artifacts+=("ephemeral_inventory")
          fi
          if [ "{% raw %}${{ inputs.pipeline_artifacts }}{% endraw %}" == "true" ]; then
            _artifacts+=("pipeline_artifacts")
          fi
          _artifact_list=$(IFS=,; echo "${_artifacts[*]}")
          echo "artifact-list=$_artifact_list" >> $GITHUB_OUTPUT

  call_publish_artifacts:
    name: "Call Publish Artifacts"
    needs: dependencies_prep
    if: needs.dependencies_prep.outputs.artifact-list != ''
    uses: "Tvlport-IAAS/iaas-workflows/.github/workflows/publish_artifacts_wf.yml@main"
    with:
      namespace: "{% raw %}${{ inputs.namespace }}{% endraw %}"
      region: "{% raw %}${{ inputs.region }}{% endraw %}"
      tp_env: "{% raw %}${{ inputs.tp_env }}{% endraw %}"
      node_types: "{% raw %}${{ inputs.node_types }}{% endraw %}"
      inventories_branch: "{% raw %}${{ inputs.inventories_branch }}{% endraw %}"
      artifact_list: "{% raw %}${{ needs.dependencies_prep.outputs.artifact-list }}{% endraw %}"
      ansible_debug: "{% raw %}${{ inputs.ansible_debug }}{% endraw %}"

    secrets:
      token: "{% raw %}${{ secrets.IAAS_WORKFLOWS_PAT }}{% endraw %}"
      ansible_vault_key: "{% raw %}${{ secrets.ANSIBLE_VAULT_KEY }}{% endraw %}"
{% endif %}
